body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar a {
    color: #484848;
}

.list-package {
    margin-top: 35px;
}

.list-package .image-list {
    width: 292.5px;
}

.package-search {
    width: 300px; 
    margin: 30px auto 30px auto;
}

.image-list .thumbnail {
    border: none;
    padding: 0;
}

.image-list .caption {
    padding: 0;
}

.image-list h4 {
    margin-bottom: 3px;
}

.image-list p {
    color: #484848 !important;
    font-size: 12px;
}

.thumbnail img {
    width: 260px;
    height: 330px;
}

.no-margin {
    margin: 0;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
